* {
	font-size: 12px;
	font-family: "SauceCodePro Nerd Font Mono";
}

window#waybar {
	background: #292b2e;
	color: #fdf6e3;
}

#custom-right-arrow-dark,
#custom-left-arrow-dark {
	color: #1a1a1a;
}
#custom-right-arrow-light,
#custom-left-arrow-light {
	color: #292b2e;
	background: #1a1a1a;
}

#workspaces,
#clock.1,
#clock.2,
#clock.3,
#pulseaudio,
#backlight,
#custom-vpn,
#memory,
#cpu,
#battery,
#network,
#tray {
	background: #1a1a1a;
}

#workspaces button {
	padding: 0 2px;
	color: #29B6F6;
}
#workspaces button.focused {
	background: #222222;
	color: #FFD54F;
}
#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
}
#workspaces button:hover {
	background: #1a1a1a;
	border: #1a1a1a;
	padding: 0 3px;
}

#clock {
	color: #FFD54F;
}
#clock.2 {
	color: #29B6F6;
}

#backlight{
	color: #E6EE9C;
}
#pulseaudio {
	color: #FFD54F;
}
#custom-vpn {
	color: #FF8F00;
}
#memory {
	color: #FF5252;
}
#cpu {
	color: #7E57C2;
}
#battery {
	color: #7A5DC7;
}
#network{
	color: #29B6F6;
}

#clock,
#pulseaudio,
#backlight,
#custom-vpn,
#memory,
#cpu,
#battery,
#network {
	padding: 0 10px;
}
